#logo{
    height: 19px;
    width: 61px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 44px 0px 44px 0px;
    height: 100%;
}

a{
    color: black;
    text-decoration: none;
    height: 19px;
}

a:hover{
    color: #0065FC;
}

#activite{
    margin-left: 67px;
}

.menu{
    height: 100%;
}

.menu a{
    position: relative;
    padding: 0px 25px;
}

.menu a::after{
    content: '';
    border-top: 2px solid transparent;
    width: 100%;
    position: absolute;
    left: 0;
    top: -44px;
    transition: border-color .3s;
}

.menu a.active::after, .menu a:hover::after{
    border-color: #0065FC;
}


@media screen  and (max-width:768px) /*mobile*/ {

    header{
        display: flex;
    }

    
    .header{
        margin: auto;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    
    #logo{
        margin: 0 auto;
        padding: 21px 157px;
    }

    .menu{
        margin-top: 28px;
        display: flex;
        justify-content: center;
    }

    .menu a{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .menu a::after{
        top: 24px;
        border-color: #f2f2f2;
    }

    #activite{
        margin: 0;
    }

}
