@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1440px;

}

.bg-gray {
  background-color: #f2f2f2;
}

h2{
  margin-bottom: 0px;
}


form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

form input {
  font-size: large;
  height: 49px;
  border: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  
  padding: 10px;
  font-weight: 700;
}

form i.fa-location-dot {
  color: black;
  font-size: 18px;
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 16px 18px 15px 18px;
}

form p {
  color: white;
  font-weight: 600;
  padding: 16px 18px 14px 18px;
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
}

form p#icon{
  display: none;
}

.filter{
  margin: 20px auto; 
  display: flex;
  align-items: center;
}

.filter h3{
  margin: 0px 32px 0 0;
}

#boutons-filtre{
  display: flex;
}

.bouton{
  border: 2px solid #D9D9D9 ;
  border-radius: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background .3s;
}

.bouton i{
  margin-right: 5px;
}

.bouton:hover{
  background: #DEEBFF;
}

.bouton:not(:last-child){
  margin-right: 36px;
}

.info{
  margin: 40px auto;
}

.info i{
  height: 24px;
  width: 24px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
 text-align: center;
 line-height: 24px;
}


.bloc {
  display: flex;
}

#card{
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 100%;
  padding: 42px 40px 46px 40px;
}

.bloc #card h3{
  margin-top: 0px;
}

.bloc.hebergement {
  display: block;
  border-radius: 10px;
}

.bloc .hebergement .card {
  width: calc((100% / 3) - 30px);
  margin-bottom: 30px;
}

.bloc .populaire {
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  min-width: 246px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  
}

.texte h4, .texte p ,.texte div{
  margin: 5px 0px 2px 10px;
}


.activite-card .image , .card .image , .card-cote .image{
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.all-card{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.all-card .image{
  border-radius: 20px 20px 0px 0px;
  
  height: 124px;
}

.affiche-plus{
  font-weight: 700;
  margin-top: 10px;
}


aside.bg-gray{
  display: flex;
  align-items: stretch;
  margin-left: 40px;
  border-radius: 20px;
  width: 420px;
  min-width: 420px;
  padding: 41px 40px 0px 37px;
}
  

.pop{
  display: flex;
  margin-bottom: 26px;
  justify-content: space-between;

}

.pop i{
  margin-top: 4px;
}

.pop h3{
  margin: 0px;
}

.card-cote {
  display: flex;
  flex-direction: row;
  margin-bottom: 33px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  min-height: 144px;
}


.card-cote  .image{
  border-radius: 20px 0 0px 20px;
  width: 137px;
  height: auto ;
  margin-right: 10px;
  min-width: 137px;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

span h4{
  margin-top: 11px;
  margin-bottom: 7px;
}

span p{
  margin-top: 0;
}

.activites{
  display: flex;
  justify-content: space-between;
}

.activite-card{
  filter: drop-shadow(0px 3px 15px rgba(204, 50, 50, 0.1));
  width: 25%;
}

.activite-card:not(:last-child){
  margin-right: 43px;
}

#activites{
  margin: 60px 0 60px 0;

}

.activites .image{
  height: 425px;
  width: 100%;
  border-radius: 20px;
  background-position: center;
  background-size: cover;

}

.nom-activite{
  border-radius: 0 0 20px 20px ;
  background-color: #FFFFFF;
  position: absolute;
  height: 56px;
  width: 100%;
  bottom: -1px;
}

.nom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 19px;
  font-weight: 700;
  font-size: 16px;
}

i.fa-solid {
  color: #0065fc;
}

i.fa-regular {
  color: #f2f2f2;
}

/*médiaQueries*/


@media screen  and (max-width:992px) /*tablette*/
{
   .bloc{
     flex-direction: column;
   }

   .filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }

   #boutons-filtre{
    display: flex;
    flex-wrap: wrap;
    gap: 17px 14px;
   }

   .bouton{
    width: calc(50% - 8px);
    margin: 0;
    box-sizing: border-box;
   }

  .bouton:not(:last-child) {
    margin-right: 0;
  }
   .pop{
    flex-direction: row;
   }

   #card{
    width: auto;
    margin-bottom: 53px;
   }

   aside.bg-gray{
    width: auto;
    min-width: auto;
    margin-left: 0px;
   }

   .aside{
     display: flex;
     gap: 23px;
     
   }

   .card-cote{
    max-width: 33%;
    width: 33%;
   }

   .card-cote .image{
    width: 106px;
    min-width: auto;
   }

   .activite-card .image{
    height: 267px;
   }

  }


@media screen  and (max-width:768px) /*mobile*/
 {
    .mobile-no-margin{
      margin-left: -20px;
      margin-right: -20px;
    }

    body{
      padding: 0;
    }

    main{
      padding: 0 20px;
    }
 

    form p{
      display: none;
    }

    form p#icon{
      display:block;
    }

    form p#icon i{
      color: white;
    }

    .filter h3{
      margin: 0;
      margin-bottom: 15px;
    }

    .bouton{
      font-size: 11px;
    }
    
    section{
      margin-bottom: auto;
    }
    .bloc{
      flex-direction: column-reverse;
    }
    .bloc .populaire {
      width: 100%;
    }

    .bloc .hebergement .card{
      width: 100%;
    }

    .all-card{
      justify-content: center
    }

    .aside{
      display: flex;
      flex-direction: column;
    }  

  
    aside.bg-gray{
      border-radius: 0;
    }

    #card{
      background-color: transparent;
      margin-bottom: 0;
      padding-bottom: 0;
    }

   .hebergement.bg-gray{
      background-color: transparent;
    }

    .card-cote{
      max-width:none;
      width: auto;
    }

    .affiche-plus{
      display: none;
    }


    .activites{
      flex-direction: column;
      align-items: center;
    }

    .activite-card{
      width: 100%;
      margin-bottom: 24px;
      margin-right: 0 !important;
    }

}

